/*@import "./normalize.css";*/

/*:root -> 获取根元素html*/
:root {
    as:#a4a4a4;
    --color-text: #666;
    --color-text-light: #a6a6a6;
    --color-background: #fff5f6;
    --purple-card-background: #e1dded;
    /*--purple-footer: #242136;*/
    --purple-footer: #303952;
    --purple-background: #cdc2ff;

    --purple-dark-shade: #665794;
    --purple-dark: #7c6eab;
    --purple: #9387C2;
    --purple-light: #b7b5d2;
    --purple-card: #f1f1ff;

    --pink-dark-shade: #AE6367;
    --pink-dark: #C98488;
    --pink: #E4A5A9;
    --pink-light: #F6BCBF;

    --blue-dark-shade: #57649E;
    --blue-dark: #7280B7;
    --blue: #8F9DCF;
    --blue-light: #B6C4F0;

    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    background: var(--color-background);
    color: var(--color-text);
    /* rem vw/vh */
}

a {
    color: var(--color-text);
    text-decoration: none;
}


.clear-fix::after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}
